<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="./css/main.css">
    <style>
      #menu-gallery-container {
          position: relative;
          width: 100%;
          height: 300px; /* Sesuaikan dengan kebutuhan */
          overflow: hidden;
      }

      .menu-gallery-slide {
          position: absolute;
          width: 100%;
          height: 100%;
          background-size: cover; /* Ini akan menutupi area tanpa memotong gambar */
          background-position: center; /* Ini akan menempatkan gambar di tengah */
          transition: opacity 0.5s ease;
          opacity: 0;
          object-fit: contain; /* Ini akan memastikan gambar fit dan tidak terdistorsi */
      }

      .menu-gallery-slide.active {
          opacity: 1;
      }

      /* .menu-btn-prev, .menu-btn-next {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          background-color: rgba(0, 0, 0, 0.5);
          color: white;
          border: none;
          cursor: pointer;
          padding: 10px;
          z-index: 100;
      } */

      .menu-btn-prev { left: 10px; }
      .menu-btn-next { right: 10px; }

    </style>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('nav') %>
      <div class="container">
          <%- body %>
      </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>