    <h1>Login Form</h1>

    <form action="/login" method="post" >
        <input placeholder="Name" name="name" type="text">
        <br>
        <input placeholder="Password" name="password" type="password">
        <br>
        <input class="sub" type="submit">
     <h3>Dont have a account ?</h3>
    <a href="/signup">Create a new account</a>
    <a href="/">Go back to Home page</a>
    </form>
