<h1>Sign Up</h1>

<form action="/signup" method="POST">
    <label for="name">Username :</label>
    <input placeholder="Username" type="text" id="name" name="name" required><br><br>

    <label for="password">Password :</label>
    <input placeholder="Password" type="password" id="password" name="password" required><br><br>

    <label for="repeatPassword">Repeat Password :</label>
    <input placeholder="Repeat Password" type="password" id="repeatPassword" name="repeatPassword" required><br><br>

    <label for="email">Email Address :</label>
    <input placeholder="Email Address" type="email" id="email" name="email" required><br><br>

    <label for="jenisKelamin">Jenis Kelamin:</label>
    <select id="jenisKelamin" name="jenisKelamin" required>
        <option value="Laki-laki">Laki-laki</option>
        <option value="Perempuan">Perempuan</option>
    </select><br><br>

    <label for="tanggalLahir">Tanggal Lahir :</label>
    <input placeholder="Tanggal Lahir" type="date" id="tanggalLahir" name="tanggalLahir" required><br><br>

    <label for="noHP">No. Handphone :</label>
    <input placeholder="No. Handphone" type="text" id="noHP" name="noHP"><br><br>

    <label for="domisili">Domisili :</label>
    <input placeholder="Domisili" type="text" id="domisili" name="domisili"><br><br>

    <input class="sub" type="submit">
</form>

<a href="<%= googleLoginUrl %>">Sign up with Google</a>
<br>
<a href="/">Go back to Home page</a>
